<h2>Broken Scroll Table</h2>

<div style="width: 500px;">
{{ember-table
  classNames="fixed-height-table"
  content=model
  columns=columns
}}
</div>

<style>
    .fixed-height-table {
        height: 500px;
    }
</style>
