<ul>
  <li>{{#link-to 'simple'}}Simple Table{{/link-to}}</li>
  <li>{{#link-to 'fixed'}}Fixed Table{{/link-to}}</li>
  <li>{{#link-to 'removable-columns'}}Removable Columns{{/link-to}}</li>
  <li>{{#link-to 'sort-array-controller'}}Sort with ArrayController{{/link-to}}</li>
  <li>{{#link-to 'sort-computed'}}Sort with Ember.computed.sort{{/link-to}}</li>
</ul>
