<h2>Sort with ArrayController</h2>

WARNING: this usecase is currently broken.

<div class="table-container">
  {{ember-table
    content=arrangedContent
    columns=columns
    sortByColumn="sortByColumn"
  }}
</div>
