<h2>Sort with Ember.computed.sort</h2>

<div class="table-container">
  {{ember-table
  content=sorted
  columns=columns
  sortByColumn="sortByColumn"
  }}
</div>

{{arrangedContent.firstObject.open}}
