<div class="antiscroll-box">
  <div class="antiscroll-inner">
    <div class="ember-table-table-scrollable-wrapper">
      {{#if controller.numFixedColumns}}
        {{view 'lazy-table-block' classNames="ember-table-left-table-block"
          content=controller.bodyContent
          columns=controller.fixedColumns
          width=controller._fixedBlockWidth
          numItemsShowing=controller._numItemsShowing
          scrollTop=controller._scrollTop
          startIndex=controller._startIndex
        }}
      {{/if}}
      {{view 'lazy-table-block' classNames="ember-table-right-table-block"
        content=controller.bodyContent
        columns=controller.tableColumns
        scrollLeft=controller._tableScrollLeft
        width=controller._tableBlockWidth
        numItemsShowing=controller._numItemsShowing
        scrollTop=controller._scrollTop
        startIndex=controller._startIndex
      }}
    </div>
  </div>
</div>
