<div class="ember-table-table-fixed-wrapper">
  {{#if controller.numFixedColumns}}
    {{view 'table-block' classNames="ember-table-left-table-block"
      content=controller.footerContent
      columns=controller.fixedColumns
      width=controller._fixedBlockWidth
      height=controller.footerHeight
    }}
  {{/if}}
  {{view 'table-block' classNames="ember-table-right-table-block"
    content=controller.footerContent
    columns=controller.tableColumns
    scrollLeft=controller._tableScrollLeft
    width=controller._tableBlockWidth
    height=controller.footerHeight
  }}
</div>
