<div class="ember-table-table-fixed-wrapper">
  {{#if controller.numFixedColumns}}
    {{view 'header-block' classNames="ember-table-left-table-block"
      columns=controller.fixedColumns
      width=controller._fixedBlockWidth
      height=controller.headerHeight
    }}
  {{/if}}
  {{view 'header-block' classNames="ember-table-right-table-block"
    columns=controller.tableColumns
    scrollLeft=controller._tableScrollLeft
    width=controller._tableBlockWidth
    height=controller.headerHeight
  }}
</div>
